<div class ="container">
  <h1>Stupid Coaching</h1>
    <form action="answer" method="get" id="answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="???" placeholder="what time is it?">
    <input type="submit" value="Go on!">
  </form>
</div>
